<div class="toolbar">
    <div data-control="toolbar" data-disposable="">
        <div class="btn-group offset-right">
            <a class="btn btn-primary oc-icon-upload" data-toggle="modal" href="#uploadfiles">Upload</a>
            <a class="btn btn-primary oc-icon-folder" id="create-folder" data-toggle="modal" href="#createdirectory">Add folder</a>
        </div>
        <div class="btn-group offset-right">
            <button type="button" class="btn btn-default oc-icon-trash" id="delete">Delete</button>
        </div>
    </div>
</div>

<div id="drive">
    <div id="directories">

    </div>
    <div id="files">

    </div>
    <div id="details">
        <p>Select a file/folder to see details</p>
    </div>
</div>

<div class="control-popup modal fade" id="createdirectory" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form method="POST" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create Directory</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Directory Name</label>
                    <input type="text" name="directory_name" class="form-control" />
                </div>
                <div class="form-group checkboxlist-field">
                    <label>Users who have access to this directory:</label>
                    <?php
                    foreach ($users as $u) {
                        if ($u->id != $user->id) { ?>
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" checked id="directory-user-id-<?= $u->id ?>" name="user_id[]" value="<?= $u->id ?>" />
                                <label class="choice" for="directory-user-id-<?= $u->id ?>"> <?= $u->email ?></label>
                            </div>
                    <?php }
                    }
                    ?>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="control-popup modal fade" id="uploadfiles" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form method="POST" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload File</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Upload To</label>
                    <input type="text" name="directory_name" readonly class="form-control" />
                    <div id="upload">
                        <div class="dz-message"><p>Drop files here or click to upload</p></div>
                    </div>
                </div>
                <div class="form-group checkboxlist-field">
                    <label>Users who have access to this file:</label>
                    <?php
                    foreach ($users as $u) {
                        if ($u->id != $user->id) { ?>
                            <div class="checkbox custom-checkbox">
                                <input type="checkbox" checked id="file-user-id-<?= $u->id ?>" name="user_id[]" value="<?= $u->id ?>" />
                                <label class="choice" for="file-user-id-<?= $u->id ?>"> <?= $u->email ?></label>
                            </div>
                    <?php }
                    }
                    ?>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</div>

<div class="control-popup modal fade" id="changeowner" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form method="POST" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Owner</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id" />
                <div class="form-group">
                    <label>Owner</label>
                    <select name="owner_id">
                        <?php foreach ($users as $user) { ?>
                            <option value="<?= $user->id; ?>"><?= $user->email ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Change Owner</button>
            </div>
        </form>
    </div>
</div>

<div class="control-popup modal fade" id="changeowner" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <form method="POST" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Owner</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="id" />
                <div class="form-group">
                    <label>Owner</label>
                    <select name="owner_id">
                        <?php foreach ($users as $user) { ?>
                            <option value="<?= $user->id; ?>"><?= $user->email ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Change Owner</button>
            </div>
        </form>
    </div>
</div>

<div class="control-popup modal fade" id="versions" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Versions</h4>
            </div>
            <div class="modal-body">
                <p>Select Version - </p>
                <div class="versions"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://thibaultjanbeyer.github.io/DragSelect/ds.min.js"></script>
<script>
(function(w, d){
    var b = d.getElementsByTagName('body')[0];
    var s = d.createElement("script"); 
    var v = !("IntersectionObserver" in w) ? "8.17.0" : "10.20.0";
    s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
    s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
    w.lazyLoadOptions = {/* Your options here */};
    b.appendChild(s);
}(window, document));
</script>


<script>
$(document).on('ajaxSetup', function(event, context) {
    context.options.loading = $.oc.stripeLoadIndicator;
    context.options.error = function(data, text, something) {
        if (data && data.responseJSON) {
            var result = data.responseJSON.result;
        }
        else {
            var result = data.responseText;
        }
        $.oc.flashMsg({ text: result, class: 'error' })
    }
});

var dropzone;
var dragselect;
var lazyload;
var user_id = <?= $this->user->id ?>;

var users = [<?php foreach ($users as $user) { ?>{'id': <?= $user->id ?>, 'email': '<?= $user->email ?>'},<?php } ?>];
var details = document.querySelector('#details');
var directory_list = document.querySelector('#directories');
var file_list = document.querySelector('#files');
var create_directory = document.querySelector('#createdirectory form');
var change_owner = document.querySelector('#changeowner form');
var selected_directory;
var selected_file;
var directories = [];
var files = [];

var delete_item;
var update_permissions;
var change_name;

// Add an item in to view
// @param item
function addItem(item, item_users) {
    var new_item = {
        'id': item.id,
        'name': item.name,
        'path': item.path,
        'owner_id': item.owner_id,
        'created_at': item.created_at,
        'updated_at': item.updated_at,
        'type': item.type,
        'mime': item.mime,
        'thumbnail': item.thumbnail,
        'users': [],
    };
    for (var i = 0; i < item_users.length; i++) {
        var user = {'email': item_users[i].email, 'id': item_users[i].id};
        new_item.users.push(user)
    }
    updateArrays(new_item);
}

function compare(a,b) {
    if (a.path < b.path)
        return -1;
    if (a.path > b.path)
        return 1;
    return 0;
}

function updateArrays(data, remove = false) {
    if (data.type == 'file') {
        var found = false;
        for (var i = 0; i < files.length; i++) {
            if (files[i].id == data.id) {
                if (remove) {
                    files.splice(i, 1);
                }
                else {
                    found = true;
                    files[i] = data;
                }
                break;
            }
        }
        if (!remove && !found) files.push(data);
        files.sort(compare);
    }
    else {
        var found = false;
        for (var i = 0; i < directories.length; i++) {
            if (directories[i].id == data.id) {
                if (remove) {
                    directories.splice(i, 1);
                }
                else {
                    found = true;
                    directories[i] = data;
                }
                break;
            }
        }
        if (!remove && !found) directories.push(data);
        directories.sort(compare);
    }
}

function buildDirectories() {

    while (directory_list.hasChildNodes()) {
        directory_list.removeChild(directory_list.lastChild);
    }

    details.appendChild(document.createTextNode('Select a file/folder to see details'));

    selected_directory = null;

    for (var i = 0; i < directories.length; i++) {
        if (!document.querySelector('#directories .directory[data-id="' + directories[i].id + '"]')) {
            addView(directories[i]);
        }
    }

}

function buildFiles() {

    while (file_list.hasChildNodes()) {
        file_list.removeChild(file_list.lastChild);
    }

    selected_file = null;

    for (var i = 0; i < files.length; i++) {
        if (!document.querySelector('#files .file[data-id="' + files[i].id + '"]')) {
            addView(files[i]);
        }
    }

    if (dragselect) {
        dragselect.stop();
        dragselect = false;
    }
    dragselect = new DragSelect({
        selectables: document.getElementsByClassName('file'),
        area: document.getElementById('files'),
        multiSelectKeys: ['ctrlKey'],
        callback: function(elements, data) {
            if (data) {
                selectFiles(elements);
            }
        }
    });

    if (lazyload) {
        lazyload.destroy();
        lazyload = false;
    }
    lazyload = new LazyLoad({
        elements_selector: ".lazy"
    });

}

function addView(item) {

    var classname = item.type;

    var div = document.createElement('div');
    div.classList.add(item.type);
    div.dataset.id = item.id;
    div.innerHTML = item.name;

    var parent = (item.type == 'file' ? 'files' : 'directories');

    var icon = document.createElement('i');

    if (item.type == 'directory') {

        div.addEventListener('click', function(e) {
            directoryChange(this, item);
        });

        icon.classList.add('icon-folder');

    }

    if (item.type == 'file') {

        if (item.thumbnail) {
            var icon = document.createElement('img');
            icon.dataset.src = item.thumbnail.path;
            icon.classList.add('lazy');
        }
        else {
            icon.classList.add(getFileIcon(item));
        }

        div.addEventListener('dblclick', function() {
            window.location.href = '<?= Backend::url('monologophobia/drive/drive/retrieve') ?>/' + item.id;
        })
    }

    div.prepend(icon);

    document.getElementById(parent).appendChild(div);

}

function getFileIcon(item) {
    var file_type = item.path.split('.');
    var file_icon = 'icon-file-o';
    file_type = file_type[file_type.length - 1];
    if (file_type == 'jpg' || file_type == 'jpeg' || file_type == 'gif' || file_type == 'png' || file_type == 'svg') {
        file_icon = 'icon-file-image-o';
    }
    if (file_type == 'pdf') {
        file_icon = 'icon-file-pdf-o';
    }
    if (file_type == 'zip' || file_type == 'rar' || file_type == '7z') {
        file_icon = 'icon-file-archive-o';
    }
    if (file_type == 'wav' || file_type == 'mp3' || file_type == 'flac' || file_type == 'm4a') {
        file_icon = 'icon-file-audio-o';
    }
    if (file_type == 'mp4' || file_type == 'avi' || file_type == 'webm') {
        file_icon = 'icon-file-video-o';
    }
    if (file_type == 'xls' || file_type == 'xlsx' || file_type == 'csv' || file_type == 'ods') {
        file_icon = 'icon-file-excel-o';
    }
    if (file_type == 'ppt' || file_type == 'pptx' || file_type == 'odp') {
        file_icon = 'icon-file-powerpoint-o';
    }
    if (file_type == 'doc' || file_type == 'docx' || file_type == 'txt' || file_type == 'rtf') {
        file_icon = 'icon-file-word-o';
    }
    return file_icon;
}

// handle file / directory click
// @param element originator
// @param item
function directoryChange(element, item) {

    var directory_list = document.querySelectorAll('#directories .directory');

    selected_directory = null;
    for (var i = 0; i < directory_list.length; i++) {
        var icon = directory_list[i].querySelector('i');
        icon.classList.remove('icon-folder-open');
        icon.classList.add('icon-folder');
        directory_list[i].classList.remove('active');
    }

    element.classList.add('active');

    var icon = element.querySelector('i');
    icon.classList.add('icon-folder-open');

    for (var i = 0; i < directories.length; i++) {
        if (directories[i].id == element.dataset.id) {
            selected_directory = directories[i];
            document.querySelector('#createdirectory input[name="directory_name"]').value = selected_directory.path + '/';
            document.querySelector('#uploadfiles input[name="directory_name"]').value = selected_directory.path + '/';
            break;
        }
    }

    // TODO: change default upload permissions

    getFiles();

    loadDetails(item);

}

function getFiles() {

    // remove existing files
    selected_file = null;
    files = [];
    while (file_list.firstChild) {
        file_list.removeChild(file_list.firstChild);
    }

    // get new files
    $.request('onGetDirectoryContents', {
        data: {'directory': selected_directory.path},
        success: function(results) {
            if (results) {
                for (var i = 0; i < results.length; i++) {
                    addItem(results[i], results[i].users);
                }
                buildFiles();
            }
        }
    })
}

function selectFiles(elements) {

    selected_file = null;

    var list = file_list.querySelectorAll('.file');
    for (var i = 0; i < list.length; i++) {
        list[i].classList.remove('active');
    }

    for (var i = 0; i < elements.length; i++) {
        var element = file_list.querySelector('.file[data-id="' + elements[i].dataset.id + '"]');
        element.classList.add('active');
    }

    if (elements.length == 0) {
        loadDetails(false);
        return;
    }

    var item;
    if (elements.length > 1) item = [];
    for (var i = 0; i < files.length; i++) {
        if (elements.length == 1) {
            if (files[i].id == elements[0].dataset.id) {
                item = files[i];
                break;
            }
        }
        else {
            for (var x = 0; x < elements.length; x++) {
                if (elements[x].dataset.id == files[i].id) {
                    item.push(files[i]);
                }
            }
        }
    }

    selected_file = item;
    loadDetails(item);

}

function loadDetails(item) {

    while (details.hasChildNodes()) {
        details.removeChild(details.lastChild);
    }

    if (!item) {
        details.innerHTML = '<p>Select a file/folder to see details</p>';
        return;
    }

    if (Array.isArray(item)) {
        var header = createHeader(false, item);
        var permissions = getPermissions(item, false);
    }
    else {
        var selected = (item.type == 'file' ? selected_file : selected_directory);
        var header = createHeader(selected);
        var permissions = getPermissions(selected, user_id == selected.owner_id);
    }

    details.appendChild(header);
    details.appendChild(permissions);

    // dont fully understand but removing nodes
    // without removing references can cause
    // memory leaks
    // so lets just make sure that the references are removed
    // in case garbage collector doesnt just forget the entire
    // function...
    header = null;
    permissions = null;

}

function createHeader(item, multiple = false) {

    var title = document.createElement('div');
    title.classList.add('title');

    if (!multiple) {
        var image = (item.thumbnail ? document.createElement('img') : document.createElement('i'));
        if (!item.thumbnail) {
            if (item.type == 'directory') {
                image.classList.add('icon-folder');
            }
            else {
                image.classList.add(getFileIcon(item));
            }
        }
        else {
            image.src = item.thumbnail.path;
        }
    }
    else {
        var image = document.createElement('i');
        image.classList.add('icon-files-o');
    }

    var header = document.createElement('h2');
    if (!multiple) {
        header.innerHTML = item.name;
    }
    else {
        header.innerHTML = multiple.length + ' selected';
    }

    var meta = document.createElement('div');
    meta.classList.add('meta');
    if (!multiple) {
        var meta_html = '<span class="created">Created: ' + item.created_at + '</span><br />';
        meta_html    += '<span class="updated">Version: <a href="#version" title="Version" data-toggle="modal" onclick="getVersions(' + item.id + ')">' + item.updated_at + '</a></span><br />';
        meta_html    += '<span class="owner">Owner: ';
        for (var i = 0; i < users.length; i++) {
            if (users[i].id == item.owner_id) {
                <?php if ($superuser) { ?> meta_html += '<a href="#changeowner" title="Change Owner" data-toggle="modal" onclick="startOwnershipChange(' + item.id + ', ' + item.owner_id + ')">' + users[i].email + '</a>';
                <?php } else { ?>
                if (item.owner_id == user_id) {
                    meta_html += '<a href="#changeowner" title="Change Owner" data-toggle="modal" onclick="startOwnershipChange(' + item.id + ', ' + item.owner_id + ')">' + users[i].email + '</a>';
                }
                else {
                    meta_html += users[i].email;
                }
                <?php } ?>
                break;
            }
        }
        meta_html += '</span>';
        if (item.type == 'file') {
            meta_html += '<a href="<?= Backend::url('monologophobia/drive/drive/retrieve') ?>/' + item.id + '" title="Download" class="download">';
            meta_html += '<button class="btn btn-success">Download</button>';
            meta_html += '</a>';
        }
        meta.innerHTML = meta_html;
    }

    title.appendChild(image);
    title.appendChild(header);
    title.appendChild(meta);

    title.appendChild(document.createElement('hr'));

    // see above about memory leaks
    header = null;
    meta   = null;

    return title;

}

function startOwnershipChange(id, owner_id) {
    change_owner.querySelector('input[name="id"]').value = id;
    change_owner.querySelector('select[name="owner_id"]').value = owner_id;
}

function getVersions(id) {
    var versions_element = document.querySelector('#versions .versions');
    versions_element.innerHTML = '';
    $.request('onGetVersions', {
        data: {id: id},
        success: function(data) {
            if (data.versions) {
                if (data.versions.length > 0) {
                    for (var i = 0; i < data.versions.length; i++) {
                        var link = '<a download href="<?= Backend::url('monologophobia/drive/drive/retrieve') ?>/' + id + '/' + data.versions[i].VersionId + '" title="Download" class="download">';
                        link += data.versions[i].LastModified;
                        if (data.versions[i].IsLatest) link += ' - Current Version';
                        link += '</a><br />';
                        versions_element.innerHTML += link;
                    }
                    $('#versions').modal();
                }
            }
        }
    });
}

function getPermissions(item, owner = false) {

    var form = document.createElement('form');

    if (Array.isArray(item)) {
        for (var i = 0; i < item.length; i++) {
            form.appendChild(buildPermissionsItemIDField('id[]', item[i].id));
        }
    }
    else {
        form.appendChild(buildPermissionsItemIDField('id', item.id));
    }

    <?php if ($superuser) { ?>
        form.appendChild(buildPermissionsCheckboxes(item, Array.isArray(item)));
        form.appendChild(buildPermissionsUpdatePermissionsButton(item));
    <?php } else { ?>
    if (owner) {
        form.appendChild(buildPermissionsCheckboxes(item, Array.isArray(item)));
        form.appendChild(buildPermissionsUpdatePermissionsButton(item));
    }
    <?php } ?>

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        $(form).request('onUpdatePermissions', {
            success: function(data) {
                $.oc.flashMsg({ text: 'Permissions Updated', class: 'success' });
                updateArrays(data);
            }
        });
    });

    form.appendChild(buildPermissionsDelete(owner, Array.isArray(item)));

    return form;

}

function buildPermissionsItemIDField(name, id) {
    var input   = document.createElement('input');
    input.type  = 'hidden';
    input.name  = name;
    input.value = id;
    return input;
}

function buildPermissionsCheckboxes(item, multiple = false) {
    var checkboxes = document.createElement('div');
    checkboxes.classList.add('form-group', 'checkboxlist-field');
    var label = document.createElement('label');
    label.appendChild(document.createTextNode('These users have access to this item:'));
    checkboxes.appendChild(label);
    for (var i = 0; i < users.length; i++) {
        var checked = false
        var disabled = false;
        if (!multiple) {
            checked = (item.owner_id == users[i].id);
            disabled = (item.owner_id == users[i].id);
            if (!checked) {
                for (var x = 0; x < item.users.length; x++) {
                    if (item.users[x].id == users[i].id) {
                        checked = true;
                        break;
                    }
                }
            }
        }
        var input = createInput(users[i].id, users[i].email, checked, disabled, multiple);
        checkboxes.appendChild(input);
    }
    return checkboxes;
}

function buildPermissionsUpdatePermissionsButton(item) {
    var button = document.createElement('button');
    button.type = 'submit';
    button.classList.add('btn', 'btn-warning');
    button.innerHTML = 'Update Permissions';
    return button;
}

function buildPermissionsDelete(owner = false, multiple = false) {
    var delete_button = document.createElement('button');
    delete_button.type = 'button';
    var owner_text = 'Remove your Access';
    if (owner) owner_text = 'Delete';
    <?php if ($superuser) { ?>owner_text = 'Delete';<?php } ?>
    delete_button.innerHTML = owner_text;
    delete_button.classList.add('btn', 'btn-danger');
    delete_button.addEventListener('click', deleteSelected);
    return delete_button;
}

function createInput(id, email, checked, disabled, indeterminate) {

    var element = document.createElement('div');
    element.classList.add('checkbox', 'custom-checkbox');

    var element_id = 'user-id-' + id;

    var input   = document.createElement('input');
    input.type  = 'checkbox';
    input.id    = element_id;
    input.name  = 'user_id[]';
    input.value = id;
    if (checked && !indeterminate) input.checked = true;
    if (disabled && !indeterminate) input.disabled = true;
    if (indeterminate) input.indeterminate = true;
    element.appendChild(input);

    var label = document.createElement('label');
    label.classList.add('choice');
    label.htmlFor   = element_id;
    label.innerHTML = email;
    element.appendChild(label);

    return element;

}

<?php
if (isset($directories) && count($directories) > 0) {
    foreach ($directories as $directory) { ?>
        addItem(<?= json_encode($directory) ?>, <?= json_encode($directory->users) ?>);
<?php
    }
}
?>

buildDirectories();

create_directory.addEventListener('submit', function(e) {
    e.preventDefault();
    $(create_directory).request('onCreateDirectory', {
        success: function(data) {
            $.oc.flashMsg({ text: 'Directory Created', class: 'success' });
            create_directory.querySelector('.close').click();
            create_directory.reset();
            updateArrays(data);
            buildDirectories();
            document.querySelector('#directories .directory[data-id="' + data.id + '"]').click();
        }
    });
});

document.getElementById('delete').addEventListener('click', deleteSelected);

function deleteSelected() {

    var item = (selected_file ? selected_file : selected_directory);
    var is_array = Array.isArray(item);
    if (item) {

        var id;
        if (is_array) {
            var ids = [];
            for (var i = 0; i < item.length; i++) {
                ids.push(item[i].id);
            }
            id = ids;
        }
        else {
            id = item.id;
        }

        $.request('onDelete', {
            confirm: 'Are you sure you want to delete these items?',
            data: {id: id},
            success: function(data) {
                if (data.deleted && data.deleted.length > 0) {
                    for (var i = 0; i < data.deleted.length; i++) {
                        updateArrays(data.deleted[i], true);
                    }
                    if (is_array) {
                        getFiles();
                        loadDetails(selected_directory);
                    }
                    else {
                        if (item.type == 'directory') {
                            buildDirectories();
                            document.querySelector('#directories .directory:first-of-type').click();
                        }
                        else {
                            getFiles();
                            loadDetails(selected_directory);
                        }
                    }
                    $.oc.flashMsg({ text: 'Deleted Successfully', class: 'success' });
                }
            }
        });
    }
}

change_owner.addEventListener('submit', function(e) {
    e.preventDefault();
    $(change_owner).request('onChangeOwner', {
        success: function(data) {
            updateArrays(data);
            var iterator;
            if (data.type == 'file') iterator = files;
            if (data.type == 'directory') iterator = directories;
            for (var i = 0; i < iterator.length; i++) {
                if (iterator[i].id == data.id) {
                    if (data.type == 'file') selected_file = iterator[i];
                    if (data.type == 'directory') selected_directory = iterator[i];
                    loadDetails(iterator[i]);
                    break;
                }
            }
            change_owner.reset();
            $.oc.flashMsg({ text: 'Ownership changed', class: 'success' });
            change_owner.querySelector('.close').click();
        }
    });
});

var upload_form = document.querySelector('#uploadfiles form');

window.addEventListener('load', function(e) {

    document.querySelector('#directories .directory:first-of-type').click();

    var uploaderOptions = {
        clickable: '#upload',
        url: '<?= Backend::url('monologophobia/drive/drive/upload') ?>',
        paramName: 'file_data',
        headers: {},
        createImageThumbnails: false,
        autoProcessQueue: false,
        maxFilesize: 2,
        init: function () {

            var initDropzone = this;

            upload_form.addEventListener('submit', function(e) {
                e.preventDefault();
                initDropzone.processQueue();
            });

            initDropzone.on('sending', function(file, xhr, formData) {
                formData.append('directory_name', upload_form.querySelector('input[name="directory_name"]').value);
                var user_ids = [];
                var inputs = upload_form.querySelectorAll('input[name="user_id[]"]');
                for (var index in inputs) {
                    if (inputs[index].checked) user_ids.push(inputs[index].value);
                }
                formData.append('user_id', user_ids);
            });

            this.on("success", function(data, one, two, three) {
                initDropzone.options.autoProcessQueue = true;
            });

            this.on("queuecomplete", function() {
                initDropzone.options.autoProcessQueue = false;
                initDropzone.removeAllFiles();
                upload_form.querySelector('.close').click();
                getFiles();
            });

        }
    }

    var csrf = document.querySelector('meta[name="csrf-token"]');
    if (csrf) {
        var token = csrf.content;
        if (token) {
            uploaderOptions.headers['X-CSRF-TOKEN'] = token
        }
    }

    dropzone = new Dropzone('div#upload', uploaderOptions)

});


</script>