#drive {
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    width: 100%;
}
#directories, #details {
    padding: 2.5rem 1rem;
}
#directories .directory {
    display: block;
    padding: 0.5rem 0;
    cursor: pointer;
    border-left: 1px solid #ccc;
}
#directories .directory.active {
    background-color: rgb(53, 155, 223);
    color: #eee;
}
#directories .directory:active {
    background-color: red !important;
}
#directories .directory i {
    margin: 0 0.5rem 0 1rem;
}
#files {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 2.5rem;
    padding: 2.5rem;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#files .file {
    display: block;
    border: #eee 1px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0.5rem;
    background-color: #fff;
    padding: 0rem 0rem 1rem 0rem;
    text-align: center;
    cursor: pointer;
}
#files .file.active {
    background-color: rgb(53, 155, 223);
    border: rgb(53, 155, 223) 1px solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0.75rem;
    color: #eee;
}
#files .file i {
    display: block;
    font-size: 5rem;
    margin: 2.5rem 0 1.5rem 0;
}
#files .file img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 0.75rem;
}
#details {
    text-align: center;
}
#details .title i {
    font-size: 5rem;
}
#details .title img {
    max-width: 100%;
}
#details .title h2 {
    word-wrap: anywhere;
}
#details .download:hover {
    text-decoration: none;
}
#details .download button {
    display: block;
    margin: 2rem auto 0 auto;
}
#details .meta {
    font-size: 1rem;
    line-height: 1.6rem;
}
#details form button {
    display: block;
    margin: 2rem auto;
}
#details form button:first-of-type {
    margin-top: 0;
}
.toolbar {
    padding: 20px;
}

@media (max-width: 1200px) {
    #drive {
        grid-template-columns: 25% 50% 25%;
    }
}
@media (max-width: 768px) {
    #drive {
        grid-template-columns: 1fr;
    }
}